<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ar" dir="rtl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" content="yes" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>إشعار هام من {{incident_details.incident_type.type_label}} {{incident_details.initiating_company}}</title>
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/cta.css" />
    <link rel="stylesheet" href="styles/meta.css" />
    <link rel="stylesheet" href="styles/listing.css" />
    <link rel="stylesheet" href="styles/pin.css" />
    <link rel="stylesheet" href="styles/table.css" />
    <link rel="stylesheet" href="styles/prose.css" />
    <!--[if mso]>
    <style>
        .mso_table_banner,
        .mso_table_footer {
            border-collapse: collapse;
            max-width: 700px;
            margin-bottom: 0;
        }

        .mso_table_banner td {
            padding: 0;
            background: #fdc04c;
        }

        .header {
            margin: 0;
        }

        .footer {
            margin-bottom: 16px;
        }

        .mso_table_main {
            border-collapse: collapse;
            max-width: 700px;
            margin-bottom: 0;
        }            

        .mso_table_main td {
            background: white;
            padding: 14px;
        }

        .main {
            margin: 0;
            padding: 0;
            max-width: none;
            border-radius: 0;
        }


        .mso_table_cta td {
            padding: 1px 15px;
            background: #1742DD;
            text-align: center;
        }

        .meta p {
            text-align: right;
            font-size: 12px;
            color: #333333;
        }

        .meta p span {
            font-weight: bold;
            font-size: 12px;
            color: #333333;
        }
    </style>
    <![endif]-->
    {{#branding.theme}}
    <style>
        .mso_table_cta td,
        .cta a.button {
            background-color: {{branding.theme.email_button_color}};
        }
        .cta a.button:hover {
            background-color: {{branding.theme.email_button_color_hover}};
        }
    </style>
    {{/branding.theme}}
  </head>
    <span class="preheader">هام {{incident_details.incident_type.type_label}} إشعار من {{incident_details.initiating_company}}</span>
    <table class="body" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="15px" bgcolor="#c5c5c5">&nbsp;</td>
            <td dir="rtl" class="rtl" valign="top" bgcolor="#c5c5c5">
                <!--[if mso]>
                <div style="text-align: center;">
                <table class="mso_table_banner" role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                <td>
                <![endif]-->                
                {{^incident_details.incident_purview.purview_is_live}}
                <div class="banner">
                    {{incident_details.incident_purview.purview_label}}
                </div>
                {{/incident_details.incident_purview.purview_is_live}}
                <!--[if mso]>
                </td>
                </tr>
                </table>
                </div>
                <![endif]-->

                <div class="header">
                    <p>لا تشارك هذه الرسالة الإلكترونية مع أي شخص.</p>
                    {{#browser_link}}
                        <p><a href="{{browser_link.url}}">{{browser_link.text}}</a></p>
                    {{/browser_link}}
                </div>

                <!--[if mso]>
                <div style="text-align: center; margin: 10px 0 0;">
                <table class="mso_table_main" role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                <td>
                <![endif]-->  
                <div class="main">
                    <div class="meta">
                        <p><span>تاريخ الحدث<!--[if mso]>:<![endif]--></span> {{event_details.initiated_date.value}}</p>
                        <p><span>معرف الحدث<!--[if mso]>:<![endif]--></span> {{event_details.short_event_id}}</p>
                    </div>

                    {{#branding.email_client_logo}}
                    <div class="branding-header">
                        <img style="width: 120px; height: auto; display: block;" width="120" src="{{branding.email_client_logo}}" alt="{{incident_details.initiating_company}}">
                    </div>
                    {{/branding.email_client_logo}}

                    <h4 class="content_header">{{{content_header}}}</h4>

                    <div class="section_wrapper">
                        <table class="section">
                            <tr>
                               <td bgColor="#eeeeee" style="background-color:#eeeeee;">
                                    <div class="content prose">
                                        {{{content_body}}}
                                    </div>
                                    <!--[if mso]>
                                    <div style="text-align: center; margin: 30px 0;">
                                    <table class="mso_table_cta" role="presentation" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                    <td>
                                    <![endif]-->
                                    <p class="cta">
                                        <a class="button" href="{{event_link}}">عرض التفاصيل</a>
                                    </p>
                                    <!--[if mso]>
                                    </td>
                                    </tr>
                                    </table>
                                    </div>
                                    <![endif]-->
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="warning">
                        <p>لقد تلقيت هذه الرسالة الإلكترونية لأنك أحد المستجيبين لعملية سحب منتجات بدأتها شركة {{incident_details.initiating_company}}. لا تقم بإعادة توجيه هذه الرسالة الإلكترونية لأن الرابط يعرض معلومات مخصصة تحديدًا لـ {{channel_value}}.</p>
                    </div>

                    <div class="section_wrapper">
                        <table class="section">
                            <tr>
                                <td bgColor="#eeeeee" style="background-color:#eeeeee;">
                                    <h2>CTA</h2>
                                    <p>Emails can contain a call to action button which is a link styled as button with padding around it and an optional background:</p>
                                    <p class="cta cta--background">
                                        <a class="button" href="http://link.to.reset.password">Call to Action button</a>
                                    </p>
                                    <p>While we can have links <a href="#">inline like this</a> if more emphasis is needed a link can be displayed as below:</p>
                                    <p class="cta cta--background">
                                        <a class="link" href="http://link.to.reset.password">Call to Action Link</a>
                                    </p>  
                                    <p>We can also have a CTA button and CTA link beside one another:</p>
                                    <p class="cta cta--background">
                                        <a class="button" href="http://link.to.reset.password">Call to Action Button</a>
                                        <a class="link" href="http://link.to.reset.password">Call to Action Link</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <h4 class="content_header" style="text-align: center">استخدم هذا الرقم السري لتسجيل الدخول إلى Recall InfoLink</h4>
                     <div class="section_wrapper">
                        <table class="section">
                            <tr>
                               <td bgColor="#eeeeee" style="background-color:#eeeeee;">
                                    <div class="content">
                                        <p class="pin">
                                            <span>{{nonce}}</span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="warning">
                        <p>سينتهي صلاحية رقم التعريف الشخصي الخاص بك خلال 15 دقيقة. إذا لم تطلب ذلك، يمكنك تجاهل هذه الرسالة الإلكترونية بأمان.</p>
                    </div>


                     <div class="section_wrapper">
                        <table class="section">
                            <tr>
                                <td bgColor="#eeeeee" style="background-color:#eeeeee;">
                                    <h2>Table styled as name/value list</h2>
                                    <table class="listing">
                                        <tr>
                                            <td>Event Name</td>
                                            <td>DairyHealth yogurt</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Event Type</td>
                                            <td>Product Removal</td>
                                        </tr>
                                        <tr>
                                            <td>Event ID</td>
                                            <td>24347</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Effective Date</td>
                                            <td>2022-01-20</td>
                                        </tr>
                                        <tr>
                                            <td>Classification Type</td>
                                            <td>Class I</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Reason or Description</td>
                                            <td>Potentially contains undeclared allergen (Milk).</td>
                                        </tr>
                                        <tr>
                                            <td>Own Brand Item?</td>
                                            <td>N/A</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Disposition (Additional Notes)	</td>
                                            <td>
                                                <p>Disposition:  Scan out as Recall Reclamation and destroy at Store Level **If you do not scan out as recall reclamation, you will NOT receive credit at store level!**</p>
                                                <p>Any product that is pulled must have the name of the Responsible Party and a separate Witness noted.</p>
                                                <p>Supplier Contact Info:  Haylee French, 806-472-5921 or Haylie Hicks, 806-472-5924</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                     <div class="section_wrapper">
                        <table class="section">
                            <tr>
                                <td bgColor="#eeeeee" style="background-color:#eeeeee;">
                                    <h2>Second table styled as name/value list</h2>
                                    <table class="listing">
                                        <tr>
                                            <td>Incident Name</td>
                                            <td>DairyHealth yogurt</td>
                                        </tr>
                                        <tr class="alt">
                                            <td>Incident Type</td>
                                            <td>Withdrawal</td>
                                        </tr>
                                        <tr>
                                            <td>Area of Concern</td>
                                            <td>Consumer Products</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                     <div class="section_wrapper">
                        <table class="section">
                            <tr>
                                <td bgColor="#eeeeee" style="background-color:#eeeeee;">
                                    <h2>Tables styled as table</h2>
                                    <p>If we have tables with many rows of same type or with many columns we display them as table and not as a listing:</p>
                                    <div class="table-wrapper">
                                        <table class="table">
                                            <tr>
                                                <th>Item Name</th> 
                                                <th>Item Number</th> 
                                            </tr>
                                            <tr class="alt">
                                                <td>Amys Kitchen Rice Mac and Cheeze Non Dairy</td> 
                                                <td>4227200043</td>
                                            </tr>
                                            <tr>
                                                <td>Another product</td>  
                                                <td>1227200041</td>
                                            </tr>
                                            <tr class="alt">
                                                <td>Some other product</td>  
                                                <td>3227200047</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="table-wrapper">
                                        <table class="table">
                                            <tr>
                                                <th>Item Name</th>
                                                <th>Brand</th>
                                                <th>Item Number</th>
                                                <th>UPC</th>
                                                <th>Size</th>
                                                <th>Lot Code</th>
                                                <th>Use-by Date</th>
                                                <th>Own Brand</th>
                                            </tr>
                                            <tr class="alt">
                                                <td>BrightFarms Southwest Chipotle</td>
                                                <td>BrightFarms</td>
                                                <td>850051825011</td>
                                                <td>10850051825001 (case)</td>
                                                <td>5.85 oz x 24 Count</td>
                                                <td>-</td>
                                                <td>1/15/2024</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>BrightFarms Chickpea Caesar Crunch Kit</td>
                                                <td>BrightFarms</td>
                                                <td>857062004152</td>
                                                <td>10850051825001 (each)</td>
                                                <td>24 Count</td>
                                                <td>-</td>
                                                <td>1/15/2024</td>
                                                <td>No</td>
                                            </tr>
                                            <tr class="alt">
                                                <td>BrightFarms Mediterranean Crunch Kit</td>
                                                <td>BrightFarms</td>
                                                <td>850051825011</td>
                                                <td>10850051825001 (each)</td>
                                                <td>24 Count</td>
                                                <td>-</td>
                                                <td>1/15/2024</td>
                                                <td>Yes</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                     <!-- example of implementing a responsive image -->
                    {{#branding.email_footer_image}}
                    <table class="branding-footer" width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>
                                <img src="{{branding.email_footer_image.path}}" style="width:100%; height:auto; display:block;" alt="" />
                            </td>
                        </tr>
                    </table>
                    {{/branding.email_footer_image}}
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                </div>
                <![endif]-->

                <!--[if mso]>
                <div style="text-align: center;">
                <table class="mso_table_footer" role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                <td>
                <![endif]--> 
                <div class="footer">
                    <div>
                        <p>تم إرسال هذه الرسالة الإلكترونية من عنوان غير مراقب. لا ترد على هذا البريد الإلكتروني. اتصل بـ <a href="mailto:{{ril_corporate.support_email}}">{{ril_corporate.support_email}}</a> أو اتصل على <span class="nowrap bold">&#x2066;{{ril_corporate.support_phone}}&#x2069;</span> إذا كنت بحاجة إلى دعم.</p><p>إذا تلقيت هذا البريد الإلكتروني عن طريق الخطأ، أو إذا كنت ترغب في إلغاء الاشتراك في هذه الرسائل الإلكترونية، فيرجى تعديل <a href="{{notification_preferences_link}}">تفضيلات الإشعارات</a>.</p>
                        <p>مدعوم من <a dir="rtl" href="https://www.recallinfolink.com/">{{ril_corporate.name}}</a><br />{{ril_corporate.address}}
                        </p>
                    </div>                
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                </div>
                <![endif]-->
            </td>
            <td width="15px" bgcolor="#c5c5c5">&nbsp;</td>
        </tr>
    </table>
</body>
</html>