.cta {
    margin: 16px auto 0;
    padding: 16px 0;
    text-align: center;
    max-width: none;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .cta {
        padding: 32px 0;
    }    
}


.cta a.button {
    font-size: 16px;
    display: inline-block;
    text-align: center;
    background-color: #1742DD;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
}
.cta a.button:hover {
    background-color: #3671e7;
}

.cta a + a {
    margin-top: 16px;
}

.cta--background {
    background-color: #fff;
}

.cta a.link {
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 8px 16px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .cta a.button,
    .cta a.link {
        display: inline-block;
        margin: 0 auto;
    }    

    .cta a + a.button,
    .cta a + a.link {
        margin-left: 32px;
    }
}