.cta {
    margin: 1em auto;
    padding: 2em 0;
    text-align: center;
    max-width: none;
    box-sizing: border-box;
}
.cta a.button {
    font-size: 16px;
    display: inline-block;
    text-align: center;
    background-color: #1742DD;
    color: white;
    padding: 0.55em 1.5em;
    text-decoration: none;
    border-radius: 0.5em;
    font-weight: 500;
}

.cta a + a {
    margin-top: 1em;
}

.cta--background {
    background-color: #F3F4F6;
}

.cta a.link {
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .cta a.button,
    .cta a.link {
        display: inline-block;
        margin: 0 auto;
    }    

    .cta a + a.button,
    .cta a + a.link {
        margin-left: 2em;
    }
}