body, table.body {
    width: 100% !important;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    background-color: #d5d5d5;
}

hr {
    margin: 2em 0;
    height: 1px;
    border-bottom: none;
    border-top: solid 1px #ccc;
}

/* table-layout: fixed allows us to use tables with many columns in email without losing responsive behaviour on small devices */
table.body {
    table-layout: fixed;
}

.preheader {
      display: none !important;
      visibility: hidden;
      mso-hide: all;
      font-size: 1px;
      line-height: 1px;
      max-height: 0;
      max-width: 0;
      opacity: 0;
      overflow: hidden;
}

table {
    margin: 16px 0;
}

table td {
    padding: 5px 10px 5px 0;
    vertical-align: top;
}

.main {
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    box-sizing: border-box;
    max-width: 728px;
    border-radius: 10px;
}

@media only screen and (min-width: 768px) {
    .main {
        padding: 2em;
    }
}

.branding-header {
    margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
    .branding-header {
        margin-bottom: 1em;
    }
}

.branding-header,
.branding-footer {
    max-width: 700px;
}

.branding-footer {
    margin-top: 2em;
}

.section {
    margin: 1em 0;
    width: 100%;
    table-layout: fixed;
}

@media only screen and (min-width: 768px) {
    .section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    } 
}

h1 {
    font-size: 22px;
    font-weight:600;
    margin: 16px 0;
}

h2 {
    font-size: 20px;
    font-weight:600;
    margin: 16px 0;
}

h3 {
    font-size: 18px;
    font-weight:600;
    margin: 16px 0;
}

h4 {
    font-size: 16px;
    font-weight:600;
    margin: 16px 0;
}

h5 {
    font-size: 14px;
    font-weight:600;
    margin: 16px 0;
}

p {
    font-size: 14px;
    margin: 16px 0;
}

a {
    color: #3671e7;
    word-wrap:break-word;
}

ul, ol {
    padding-left: 2em;
}

li span {
    font-weight: 700;
}

.header,
.footer {
    margin: 1em auto;
    font-size: 0.9em;
    color: #555;
    max-width: 728px;
}

.footer {
    margin-top: 10px;
}

.footer hr {
    margin: 1em 0;
    border-top: 1px solid #aaa;
}

.header {
    text-align: center;
}

.header a,
.footer a {
    color: #555;
}

.banner {
    padding: 0.5em 1em;
    background-color: #fdc04c;
    color: #333;
    font-weight: 500;
    margin: 10px auto;
    max-width: 728px;;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.nowrap {
    white-space: nowrap;
}

.footer .nowrap {
    font-weight: 600;
}