body, table.body {
    width: 100% !important;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    background-color: #d5d5d5;
}

/* table-layout: fixed allows us to use tables with many columns in email without losing responsive behaviour on small devices */
table.body {
    table-layout: fixed;
}

.preheader {
      display: none !important;
      visibility: hidden;
      mso-hide: all;
      font-size: 1px;
      line-height: 1px;
      max-height: 0;
      max-width: 0;
      opacity: 0;
      overflow: hidden;
}

table {
    border-collapse: collapse;
}

.main {
    margin: 0 auto;
    background-color: white;
    padding: 1.5em 1em;
    box-sizing: border-box;
    max-width: 728px;
    border-radius: 10px;
}

.branding-header {
    margin-bottom: 2em;
}

.section {
    margin: 2em 0;
    width: 100%;
    table-layout: fixed;
}

@media only screen and (min-width: 768px) {
    .section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    } 
}

h1 {
    line-height: 1.3;
    font-size: 20px;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    margin: 1.5em 0 0.25em 0;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

a {
    color: #3671e7;
    word-wrap:break-word;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
}

li span {
    font-weight: 700;
}

.header,
.footer {
    margin: 1em auto;
    font-size: 0.9em;
    color: #555;
    max-width: 728px;
}

.footer {
    margin-top: 0;
}

.header {
    text-align: center;
}

.footer img {
    margin-right: 2px;
}

.footer span,
.footer img {
    vertical-align: middle;
}

.header a,
.footer a {
    color: #555;
}

.banner {
    padding: 0.5em 1em;
    background-color: #fdc04c;
    font-weight: 500;
    margin: -10px auto 20px;
    max-width: 728px;;
    text-align: center;
    box-sizing: border-box;
}