table.listing  {
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 16px;
}

table.listing th {
    padding-right: 1em;
    line-height: 1.2;
    vertical-align: bottom;
    padding-bottom: 0.5em;
}

table.listing td {
    padding: 0.25em 0;
    vertical-align: top;
    line-height: 1.1;
}

table.listing td p {
    margin-top: 0.5em;
}

table.listing td:first-child {
    font-weight: bold;
    padding-right: 5px;
}

table.listing td:first-child:after {
    content: ":";
    margin-right: 5px;
}

table.listing tr:last-child td {
    border-bottom: none;
}

