table.listing  {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #ddd;
}

table.listing th {
    padding-right: 1em;
    line-height: 1.2;
    vertical-align: bottom;
    padding-bottom: 0.5em;
}

table.listing td {
    padding: 0.5em;
    vertical-align: top;
    line-height: 1.3;
}

table.listing td:first-child {
    width: 15ch;
    padding-right: 1em;
}

table.listing tr.alt td {
    background: #F3F4F6;
}


table.listing td p {
    margin-top: 0.5em;
}

table.listing td p:first-child {
    margin-top: 0;
}

table.listing tr:last-child td {
    border-bottom: none;
}

