table.listing  {
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 16px;
    width: 100%;
}

table.listing th {
    padding-right: 10px;
    line-height: 1.2;
    vertical-align: bottom;
    padding-bottom: 5px;
}

table.listing td {
    padding: 5px 15px 5px 5px;
    vertical-align: top;
    line-height: 1.1;
    border: solid 1px #999;
    background: #e5e5e5;
}

[dir=rtl] table.listing td {
    padding-right: 5px;
    padding-left: 15px;
}

table.listing tr.alt td {
    background: white;
}

table.listing td:first-child {
    width: 100px;
}


