.meta {
    text-align: right;
    margin: 0.75em auto 2.5em;
    font-size: 0;
}

[dir=rtl] .meta {
    text-align: left;
}

.meta p {
    font-weight: bold;
    text-align: left;
    line-height: 1.35;
    display: inline-block;
    padding: 0 1em;
    font-size: 14px;
    margin: 0;
}

.meta p:last-child {
    padding-right: 0;
}

[dir=rtl] .meta p {
    text-align: right;
}

[dir=rtl]  .meta p:last-child {
    padding-left: 0;
    padding-right: 1em;
}

.meta p + p {
    border-left: dotted 1px #999;
}

[dir=rtl] .meta p + p {
    border-left: none;
    border-right: dotted 1px #999;
}

.meta p span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #666;
}