.meta {
    text-align: right;
    margin: 0.75em auto 2.5em;
}

[dir=rtl] .meta {
    text-align: left;
}

.meta p {
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    display: inline-block;
    padding: 0 0.5em;
    font-size: 13px;
}

[dir=rtl] .meta p {
    text-align: right;
}

.meta p + p {
    border-left: dotted 1px #999;
    padding-left: 0.75em;
}

[dir=rtl] .meta p + p {
    border-left: none;
    border-right: dotted 1px #999;
    padding-left: 0.5em;
    padding-right: 0.75em;
}

.meta p span {
    display: block;
    font-size: 11px;
    font-weight: 500;
    color: #666;
}

@media only screen and (min-width: 768px) {
    .meta p {
        padding: 0 1em;
        font-size: 14px;
    }

    .meta p + p {
        padding-left: 1.25em;
    }

    [dir=rtl] .meta p + p {
        padding-left: 1em;
        padding-right: 1.25em;
    }

    .meta p span {
        font-size: 12px;    
    }
}
