.meta {
    text-align: right;
    margin: 0.75em auto 2.5em;
}

[dir=rtl] .meta {
    text-align: left;
}

.meta li {
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    display: inline-block;
    padding: 0 0.5em;
    font-size: 13px;
}

[dir=rtl] .meta li {
    text-align: right;
}

.meta li + li {
    border-left: dotted 1px #999;
}

[dir=rtl] .meta li + li {
    border-left: none;
    border-right: dotted 1px #999;
}

.meta li span {
    display: block;
    font-size: 11px;
    font-weight: 500;
    color: #666;
}

.meta li span::after {
    content: none;
    margin-right: 0;
}

@media only screen and (min-width: 768px) {
    .meta li {
        padding: 0 1em;
        font-size: 14px;
    }

    .meta li span {
        font-size: 12px;    
    }
}
