<!--[if mso]>
<style>
    .mso_table_banner,
    .mso_table_footer {
        border-collapse: collapse;
        max-width: 700px;
        margin-bottom: 0;
    }

    .mso_table_banner td {
        padding: 0;
        background: #fdc04c;
    }

    .header {
        margin: 0;
    }

    .footer {
        margin-bottom: 16px;
    }

    .mso_table_main {
        border-collapse: collapse;
        max-width: 700px;
        margin-bottom: 0;
    }            

    .mso_table_main td {
        background: white;
        padding: 16px;
    }

    .main {
        margin: 0;
        padding: 0;
        max-width: none;
        border-radius: 0;
    }


    .mso_table_cta td {
        padding: 10px 15px;
        background: #1742DD;
        text-align: center;
    }

    .mso_table_cta td .cta {
        margin: 0;
        padding: 0;
    }

    .meta p {
        text-align: right;
        font-size: 12px;
        color: #333333;
    }

    .meta p span {
        font-weight: bold;
        font-size: 12px;
        color: #333333;
    }
</style>
<![endif]-->
{{#branding.theme}}
<style>
    .mso_table_cta td,
    .cta a.button {
        background-color: {{branding.theme.email_button_color}};
    }
    .cta a.button:hover {
        background-color: {{branding.theme.email_button_color_hover}};
    }
</style>
{{/branding.theme}}