
.pin {
    text-align: center;
    background: #F3F4F6;
    padding: 3em 1em;
    margin: 1em 0;
    box-sizing: border-box;
}
.pin span {
    display: block;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.4em;
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}
@media only screen and (min-width: 768px) {
    .pin {
        margin-left: auto;
        margin-right: auto;
    }
}
