.table-wrapper {
    overflow-x: auto;
    margin: 1em 0;
}

.table {
    border-collapse: separate;
    margin-top: 0;
    font-size: 13px;
}

.table td, 
.table th {
        text-align: left;
        padding: 0.5em;
        vertical-align: top;
}

.table tr.alt td {
    background: #F3F4F6;
}

.table td:first-child {
    font-weight: normal;
}

.table tr th {
    background: #555;
    color: white;
}
