.table-wrapper {
    overflow-x: auto;
    margin: 1em 0;
}

.table {
    border-collapse: separate;
    margin-top: 0;
    font-size: 13px;
    background: white;
}

.table td, 
.table th {
    text-align: left;
    padding: 0.5em;
}

[dir=rtl] .table td,
[dir=rtl] .table th {
    text-align: right;
}

.table tr.alt td {
    background: #F3F4F6;
}

.table td:first-child {
    font-weight: normal;
}

.table tr th {
    background: #555;
    color: white;
}
