<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" content="yes" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your Recall InfoLink PIN</title>
    <link rel="stylesheet" href="styles/layout.css" />
    <link rel="stylesheet" href="styles/pin.css" />
    {{ > mso }}
  </head>
  <body>
    <span class="preheader">Your Recall InfoLink PIN</span>
    <table class="body" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="15px" bgcolor="#c5c5c5">&nbsp;</td>
            <td valign="top" bgcolor="#c5c5c5">
                <div class="header">
                    <p>Do not share this email with anyone.</p>
                </div>

                <!--[if mso]>
                <div style="text-align: center; margin: 10px 0 0;">
                <table class="mso_table_main" role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                <td>
                <![endif]-->  
                <div class="main">
                    <h4 class="content_header" style="text-align: center">Use this PIN to log into Recall InfoLink</h4>

                    <div class="section_wrapper">
                        <table class="section">
                            <tr>
                                <td bgColor="#eeeeee" style="background-color:#eeeeee;">
                                    <div class="content">
                                        <p class="pin">
                                            <span>{{nonce}}</span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="warning">
                        <p>Your PIN expires in 15 minutes. If you did not request this, you can safely ignore this email.</p>
                    </div>
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                </div>
                <![endif]-->

                <!--[if mso]>
                <div style="text-align: center;">
                <table class="mso_table_footer" role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                <td>
                <![endif]--> 
                <div class="footer">
                    <div>
                        <p>This email message was sent from an address that is not monitored. Do not reply to this email. Contact <a href="mailto:{{ril_corporate.support_email}}">{{ril_corporate.support_email}}</a> or call <span class="nowrap bold">{{ril_corporate.support_phone}}</span> if you need support.</p>
                        <p>Powered by <a href="{{ril_corporate.website}}">{{ril_corporate.name}}</a><br />{{ril_corporate.address}}</p>
                    </div>                
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                </div>
                <![endif]-->
            </td>
            <td width="15px" bgcolor="#c5c5c5">&nbsp;</td>
        </tr>
    </table>    
</body>
</html>