/* layout.css */
body, table.email-wrapper {
    width: 100% !important;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    margin: 0;
    background-color: #d5d5d5;
}

.preheader {
      display: none !important;
      visibility: hidden;
      mso-hide: all;
      font-size: 1px;
      line-height: 1px;
      max-height: 0;
      max-width: 0;
      opacity: 0;
      overflow: hidden;
}

* {
    margin-bottom: 0;
}

.main {
    margin: 0 1em;
    background-color: white;
    padding: 1em 1em 2em;
    box-sizing: border-box
}

.main > .section {
    margin: 2em 0;
}

.main > .section:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .main {
        margin: 0 auto;
        max-width: 728px;
    }

    .main > .section {
        margin-left: 4em;
        margin-right: 4em;
    } 
}

h1 {
    line-height: 1.3;
    font-size: 20px;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    margin: 1.5em 0 0.25em 0;
}

p {
    margin-top: 0.5em;
}

a {
    color: #3671e7;
    word-wrap:break-word;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
}

li span {
    font-weight: 700;
}

.main table {
    border-collapse: collapse;
    font-size: inherit;
}

.main table th {
    padding-right: 1em;
    line-height: 1.2;
    vertical-align: bottom;
    padding-bottom: 0.5em;
}

.main table td {
    padding: 0.2em 1em 0.2em 0;
    vertical-align: top;
    line-height: 1.3;
}

.main table td p {
    margin-top: 0.5em;
}

.main table td p:first-child {
    margin-top: 0;
}

.main table tr:last-child td {
    border-bottom: none;
}

.main table td:first-child {
    font-weight: 700;
    width: 15ch;
}

.header,
.footer {
    margin: 1em auto 0;
    font-size: 0.9em;
    color: #555;
    max-width: 728px;
    padding: 0 1em 1em;
}

.header {
    text-align: center;
}

.footer {
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}

.footer img {
    margin-right: 2px;
}

.footer span,
.footer img {
    vertical-align: middle;
}

.header a,
.footer a {
    color: #555;
}

.banner {
    padding: 0.5em 1em;
    background-color: #fdc04c;
    font-weight: 500;
    margin: 0 1em;
    max-width: 728px;;
    text-align: center;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .banner {
        margin: 0 auto;
    }
}